{% include "header.html" %}
<body>
    <div class="custom-container text-center">
        <h1>About Us</h1>

        <!-- Replace "your-profile-image.jpg" with the URL or path to your profile image -->

        <div class="custom-about-me-text">
            <p>Hello, We are <a class=" text-light text-decoration-none" href="https://www.linkedin.com/in/raksha-bv/">Raksha BV</a> and <a class="text-light text-decoration-none" href="https://www.linkedin.com/in/adityaanand-sahil/">Aditya Anand</a> </p>
        </div>
        <div class="container w-75">
            <a href="https://www.linkedin.com/in/adityaanand-sahil/">
            <img class="img-fluid rounded-2 profile-img" src="../static/IMG_2206.JPG"/>
            </a>
        </div>
        <div class="container my-5">
            <p>Greetings! We are Raksha BV and Aditya Anand, Computer Science and Design students who thrive on challenging the boundaries of programming. With a keen eye for detail and a passion for user-centric design, We specialize in crafting immersive and intuitive websites. Our strong frontend skills shine through in every project, including this website showcasing a handpicked selection of shoes. By leveraging a tech stack of HTML, CSS, and Flask for the backend, We aim to provide a seamless shopping experience for all shoe enthusiasts. We are always open to collaborating with like-minded individuals and am constantly seeking opportunities to push our limits. Join us in exploring the intersection of fashion and technology as we embark on this exciting journey together!</p>
        </div>

        <!-- Add social media icons or links here if needed -->

        <div class="mt-4">
            <a href="https://www.linkedin.com/in/adityaanand-sahil/" class="btn btn-dark">Contact Me</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% include "footer.html" %}